* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
}
.left-header {
  background-color: darkorange;
  visibility: hidden;
}
.right-header {
  display: flex;
  align-items: center;
}
.nav-space {
  margin: 8px;
  color: #000000de;
}
a {
  text-decoration: none;
  font-size: 13.5px;
}
.apps-circle {
  border-radius: 50%;
}
a:hover {
  text-decoration: underline;
}
.apps-circle:hover {
  background: rgba(60, 64, 67, 0.08);
}
.nav-space:hover {
  cursor: pointer;
}
.signin-button {
  height: 35px;
  width: 96px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
}
.signin-button:hover {
  background-color: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
    0 1px 2px 0 rgba(60, 64, 67, 0.3);
}
.google-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 153px;
}
.nav-search {
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-bar {
  height: 46px;
  border-radius: 30px;
  width: 570px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
}
svg {
  height: 24px;
  width: 24px;
}
.search-icon {
  padding: 3px 10px 0px 10px;
  color: rgba(140, 140, 140, 0.925);
  font-size: 0.85rem;
}
input {
  height: 35px;
  width: 443px;
  border: none;
  outline: none;
  font-size: medium;
}
.voice-icon {
  padding: 3px 5px 0px 8px;
}
.camera-icon {
  padding: 3px 0px 0px 5px;
}
.search-icon:hover {
  cursor: default;
}
.icons-pointer:hover {
  cursor: pointer;
}
.twobuttons {
  display: flex;
  justify-content: center;
}
button {
  border-radius: 4.5px;
  background-color: #f8f9fa;
  width: 133px;
  height: 38.5px;
  border: 1px solid #f8f9fa;
  margin: 5px;
  font-size: 14px;
  color: rgb(82, 82, 82);
}
button:hover {
  border: 1px solid lightgray;
  box-shadow: 0 1px 1px 1px rgba(133, 129, 136, 0.15),
    0 1px 1px 0 rgba(111, 117, 122, 0.3);
}
.search-bar:hover {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-bar:active {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.languages {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offered-in {
  margin-right: 5px;
  color: rgb(82, 82, 82);
  font-size: smaller;
}
.three-lang {
  margin-right: 12px;
}
.three-lang a {
  padding: 2.5px;
}
.pak {
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  background-color: #f3f3f3;
}
.pak p {
  padding-left: 32.5px;
}
.last-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32.5px 0px 32.5px;
  height: 46px;
  font-size: 15px;
  background-color: #f3f3f3;
  justify-content: last baseline;
}
.footer a {
  color: #70757a;
  font-size: 0.91em;
  padding-right: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-right a {
  padding-right: 10px;
}

@media (max-width: 1024px) {
  #one {
    width: 370px;
  }
  .search-bar {
    width: 490px;
  }
  img {
    height: 100%;
    width: 230px;
  }
}
@media (max-width: 768px) {
  #one {
    width: 270px;
  }
  .search-bar {
    width: 390px;
  }
  img {
    height: 100%;
    width: 210px;
  }
  button {
    width: 110px;
    height: auto;
  }
  .last-bar {
    padding: 0px 15px;
  }
  .pak p {
    padding-left: 15.5px;
  }
}
@media (max-width: 425px) {
  #one {
    width: 210px;
  }
  .search-bar {
    width: 330px;
  }
  img {
    height: 100%;
    width: 180px;
  }
  button {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 375px) {
  #one {
    width: 160px;
    height: 30px;
  }
  .search-bar {
    width: 280px;
  }
  img {
    height: 100%;
    width: 170px;
  }
  button {
    width: 80px;
    height: auto;
    font-size: small;
  }
  .search-bar {
    height: 40px;
  }
@media (max-width: 320px) {
  #one {
    width: 105px;
    height: 25px;
  }
  .search-bar {
    width: 225px;
  }
  img {
    height: 100%;
    width: 160px;
  }
  button {
    width: 80px;
    height: auto;
    font-size: smaller;
  }
  .last-bar {
    font-size: 11px;
  }
  .footer-right {
    margin-right: 10px;
  }
}
}